* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

body {
    background-color: #DAF7DC;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    width: 100%;
    align-items: center;
    text-align: center;
    position: relative;
    transform: translate(-50%, 0);
    left: 50vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #2F4858;
    color: white;
    padding: 2em;

    td {
        width: 33vw;
    }
}

main {
    flex: 1;
    overflow-y: auto;
    display: flex;
    justify-content: flex-start;
    ;
    flex-direction: column;
    align-items: center;
    padding: 2em 1em 1em 1em;

    table h2 {
        border-radius: 1em;
        background-color: #2F4858;
        color: white;
    }

    td {
        border-style: groove;
        border-width: 1vh;
        text-align: left;
        vertical-align: middle;
    }

    td:first-child {
        border-style: groove;
        border-width: 1vh;
        text-align: center;
        vertical-align: middle;
    }

    button{
        font-size:1.3em;
    }
}

footer {
    width: 100%;
    align-items: center;
    text-align: center;
    position: relative;
    height: 15vh;
    transform: translate(-50%, 0);
    left: 50vw;
    background-color: #2F4858;
    color: white;
    padding: 2em;
}

button {
    background-color: #2F4858;
    color: white;
    padding: 0.2em;
    cursor: pointer;
    text-align: center;
    height: fit-content;
    width: fit-content;
    font-size: 2em;
    border: aliceblue 1px solid;
    border-radius: 0.6em;
}

.active:hover {
    background-color: #336699;
}

table h2 {
    border-radius: 1em;
    background-color: #2F4858;
    color: white;
}

td {
    text-align: center;
    vertical-align: middle;
}

.home {
    position: fixed;
    transform: translate(-50%, 0);
    left: 90vw;
}

img {
    max-height: 4.5vh;
    min-width: 4.5vh;
}